
.My{
    // height: 40px;
    // padding-left: 0px;
    :global {
        .am-list .am-list-body::before{
            display: none;
        }
        .am-list .am-list-body::after{
            display: none;
        }
        .am-list-line::after{
            display: none;
        }
    }

}

.cardList {
    
}